body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }

.name {
  display: flex;
  justify-content: center;
  font-family: trebuchet; }

.experienceContainer img {
  width: 200px; }

.projectsContainer {
  width: 80%;
  margin: 0 auto; }
  .projectsContainer img {
    width: 200px; }
  .projectsContainer h1 {
    display: flex;
    justify-content: center; }
  .projectsContainer .projectContent {
    display: flex;
    width: 100%; }
    .projectsContainer .projectContent img {
      width: 200px;
      height: 300px;
      border-radius: 5px; }

.contactNav {
  display: flex;
  justify-content: center;
  width: 100%; }
  .contactNav .contact {
    display: flex;
    justify-content: space-between; }
    .contactNav .contact a {
      margin: 10px; }

.topNav {
  background-color: #827867;
  display: flex;
  justify-content: center; }

.nav-tabs > li > a {
  color: #1b3e49;
  font-family: futura; }

iframe {
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: thick; }

.homeContainer {
  width: 80%;
  margin: 0 auto; }
  .homeContainer img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    border-radius: 150px; }

.experienceContainer {
  width: 80%;
  margin: 0 auto; }
  .experienceContainer .experienceContent {
    display: flex;
    margin: 0 auto; }
