body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  background-color: #adaaad; }

.name {
  display: flex;
  justify-content: center;
  font-family: trebuchet; }

h1 {
  font-family: trebuchet; }

p {
  font-family: trebuchet; }

li {
  font-family: trebuchet; }

.contactNav {
  display: flex;
  justify-content: center;
  width: 100%; }
  .contactNav .contact {
    display: flex;
    justify-content: space-between; }
    .contactNav .contact a {
      margin: 10px; }

.topNav {
  display: flex;
  justify-content: center; }

.nav-tabs > li > a {
  color: #1b3e49;
  font-family: futura; }

.view-animate-container {
  position: relative; }

.view-animate {
  padding: 10px; }

.view-animate.ng-enter, .view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px; }

.view-animate.ng-enter {
  left: 100%; }

.view-animate.ng-enter.ng-enter-active {
  left: 0; }

.view-animate.ng-leave.ng-leave-active {
  left: -100%; }

.projectsContainer {
  width: 60%;
  margin: 0 auto; }
  .projectsContainer h1 {
    display: flex;
    justify-content: center; }
  .projectsContainer .projectContent {
    display: flex;
    width: 100%; }

.homeContainer {
  width: 40%;
  margin: 0 auto; }
  .homeContainer img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    border-radius: 150px;
    border-style: solid;
    border-width: thick;
    border-color: #e0dbd4; }

.experienceContainer {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 20px; }
  .experienceContainer .experienceContent {
    display: flex;
    margin: 0 auto; }
