<div class="experienceContainer">
  <div class="jobs dellzContainer">
    <h1>Manager</h1>
    <h4>Dellz Deli <span style="font-size: 20px;">(2009-2012)</span></h4>
    <p>Responsible for inventory control, scheduling, and community engagement.</p>
    <div>
      <ul>
        <li>
          Manifested relationships with local purveyors as to reconstruct product
          inventory on a farm to table basis.
        </li>
        <li>
          Redeveloped menu geared towards being health-conscious.
        </li>
      </ul>
    </div>
  </div>
  <div class="jobs pedicabContainer">
    <h1>Manager/Mechanic</h1>
    <h4>Charleston Pedicab Co. <span style="font-size: 20px;">(2011-2015)</span></h4>
    <p>
      Accountable for all HR related duties from training to operations,
      oversaw mechanicical maintanence of fleet, dispatching and building relationships
      through concierge services.
    </p>
    <div>
      <ul>
        <li>Engaged clientele through innovative concepts to increase overall revenue.</li>
        <li>Supervised a fleet of 20+ which demanded amiability and analytics.</li>
      </ul>
    </div>
  </div>
  <div class="jobs holyCityContainer">
    <h1>Bartender</h1>
    <h4>Holy City Brewing <span style="font-size: 20px;">(2012-2015)</span></h4>

    <p>
      Liable for shaping lasting relationships on behalf of the company while operating
      within a high volume atmosphere.
    </p>
    <ul>
      <li>
        Continous growth towards product and industry knowledge.
      </li>
      <li>
        Grew with the company as it underwent a massive expansion.
      </li>
      <li>
        Proven ability to provide a positive experience while folding in the act of upselling products.
      </li>
    </ul>
  </div>
</div>
