<div class="homeContainer">
  <img src="../profile.jpg" alt="">
  <br>
  <br>
  <p>
    I am a motivated developer who thrives within a challenging
    environment. I was born with an unquenchable thirst for growth and take
    pride in placing passion into every action.
  </p>
  <p>
    I stand to encompass a wealth of knowledge in order to further a
    full stack capability. Given strong interpersonal skills, driving edge
    to success, and a creative mindset, I am confident I would find both cohension
    and growth from within your company.
  </p>
  <p>Thank you for your time. </p>
  <blockquote>
    Blake Guilloud
  </blockquote>
</div>
<nav class="contactNav">
  <div class="contact">
    <a href="mailto:fbguillo@gmail.com">Email</a>
    <a href="">843.812.6962</a>
    <a href="http://www.github.com/blakeGuilloud">github</a>
    <a href="http://www.linkedin.com/in/blakeGuilloud">linkedin</a>
  </div>
</nav>
