<div class="projectsContainer" ng-controller="mainController">
  <div class="projects">
    <h1>SchinDig</h1>
    <a href="https://www.youtube.com/embed/mOCtlaUJcts">Schindig Demo Video</a>
    <div>
      <p>
        A mobile application that enhances the party planning experience,
        Schindig allows for hosts to select from a dynamically suggested list
        of party favors that become their party's registry.
      </p>
      <p>
        As an invited guest to a party, one would have the option to claim a favor,
        RSVP, and pitch in towards a big ticket item, such as a band.
      </p>
      <p>
        Schindig leverages phone hardware in order to manage invitations. Using
        Venmo's API, we also are able to auth a Venmo ID after the user has synced
        their account. Real money - movin' around.
      </p>
      <ul>
        <li>AngularJS</li>
        <li>Ionic</li>
        <li>ngCordova</li>
        <li>Venmo API</li>
      </ul>
    </div>
  </div>
  <div class="projects">
    <h1>Alcho-Me</h1>
    <a href="https://www.youtube.com/embed/alx5nICarl8">Alcho-Me Demo Video</a>
    <p>
      Alcho-Me is an application built to help you find quick and easy drink
      recipes based on what is currently available. One would simply submit
      the ingredients they have, and receive a dynamiclly populated list of recipes.
    </p>
    <ul>
      <li>Backbone</li>
      <li>Sass</li>
      <li>Underscore</li>
    </ul>
  </div>
  <div class="projects">
    <h1>Pokemon</h1>
    <a href="https://www.youtube.com/embed/sKpufpGWRIg">Pokemon Demo Video</a>
    <p>
      A fun, very simple jQuery game based around the 90's classic, Pokemon.
      Select from a dozen pokemon, and do battle with a random opponent.
    </p>
    <ul>
      <li>JQuery</li>
      <li>Sass</li>
      <li>Underscore</li>
    </ul>
  </div>
</div>
<nav class="contactNav">
  <div class="contact">
    <a href="mailto:fbguillo@gmail.com">Email</a>
    <a href="">843.812.6962</a>
    <a href="http://www.github.com/blakeGuilloud">github</a>
    <a href="http://www.linkedin.com/in/blakeGuilloud">linkedin</a>
  </div>
</nav>
