<div class="projectsContainer" ng-controller="mainController">
  <div class="projects">
    <h1>SchinDig</h1>
    <a href="https://www.youtube.com/embed/mOCtlaUJcts">Schindig Demo</a>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur tempore reiciendis voluptate culpa recusandae neque aliquid, repellat provident, quibusdam, voluptatibus facilis optio temporibus est earum voluptates, asperiores delectus illo suscipit.</p>
      <h3>Front End Technologies Used: </h3>
      <ul>
        <li>AngularJS</li>
        <li>Ionic</li>
        <li>ngCordova</li>
        <li>Sass</li>
        <li>Gulp</li>
        <li>Underscore</li>
      </ul>
    </div>
  </div>
  <div class="projects">
    <h1>Alcho-Me</h1>
    <a href="https://www.youtube.com/embed/alx5nICarl8">Alcho-Me Demo Video</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae in incidunt vitae, nisi, aperiam atque illum alias facilis tempora pariatur molestias explicabo amet perferendis unde, magnam hic quibusdam doloremque earum.</p>
    <h3>Front End Technologies Used: </h3>
    <ul>
      <li>Backbone</li>
      <li>Sass</li>
      <li>Underscore</li>
    </ul>
  </div>
  <div class="projects">
    <h1>Pokemon Contructor Game</h1>
    <a href="https://www.youtube.com/embed/sKpufpGWRIg">Pokemon Demo</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit itaque, ullam veritatis saepe fugiat sed natus dicta et amet perferendis. Eaque quo blanditiis beatae magnam quasi fugit eveniet illo velit.</p>
    <h3>Front End Technologies Used: </h3>
    <ul>
      <li>JQuery</li>
      <li>Sass</li>
      <li>Underscore</li>
    </ul>
  </div>
</div>
