.item {
  min-width: 80vw;
  max-width: 90vw;
  padding: 1rem;
  border: 1px solid;
  background-color: slategray;
  margin-bottom: 1rem;
  border-radius: 3px;
  background: rgba(73, 78, 54, 0.3);
  text-align: left;
}

.u-t-lg {
  font-size: 130%;
  text-decoration: underline;
}

.source {
  display: flex;
  align-items: center;
}

.source * {
  margin-right: .3rem;
}

.icon-github {
  font-size: 2rem;
}

.icon-npm {
  width: 2.5rem;
  margin-top: 4px;
}

.skills-item__sub {
  display: flex;
  flex-wrap: wrap;
}
